.navbar {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #5B99C2;
  }
  
  li  {
      list-style: none;
  }
  
  a {
      color: #d0d7e1;
      text-decoration: none;
  }
  
  .nav-item{
    margin: 10px;
  }
  
  .navbar {
    text-align: right;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      text-align: center;
      margin: 10px;
  }
  
  .navbar ul li a {
    font-family: monospace;
    font-weight: bold;
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5B99C2;
    border: 1px solid #14465f;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
    border-color: #14465f;
    
  }
  
  .navbar ul li a:hover {
    background-color: #14465f;
    color: #fff;
    cursor: pointer;
    transform: scale(1.05);
  }

  .logo-container {
    display: flex;
    align-items: left;
    }

    .logo-img {
    width: 50px; 
    height: auto;
    margin-right: 10px; 
    }

    .logo-text {
    font-family: 'Jockey One';
    color: #000000;
    letter-spacing: 2px;
    font-style: oblique;
    padding-top: 10px;
    }

  
  .nav-link {
      transition: 0.7s ease;
  }
  
  .nav-link:hover{
      color: aqua;
  }


/* Hamburger   */
  .hamburger{
      display: none;
      cursor: pointer;
  }
  
  .bar {
      display: block;
      position: right;
      width: 25px;
      height: 3px;
      margin: 5px 15px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #14465f;
      align-items: left;
  }
  
  @media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        top: 40px;
        left: 20;
        right: 0;
        padding: 10px;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        transition: all 0.3s ease-in-out;
    }

    .nav-menu.active {
        display: flex; 
    }

    .nav-item {
        margin: 0;
    }
}

section {
    padding: 100px 1rem;
}